

.toggle-btn {
    font-size: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 4px 12px;
    cursor: pointer;
    position: fixed;
    top: 13px;
    left: 12px;
    z-index: 4500;
    border-radius: 10px 0 0 10px !important;
}

.sidebar {
    width: 360px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease;
    z-index: 4000;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 0;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.content {
    margin-left: 380px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar ul li {
        display: inline-block;
    }
    .content {
        margin-left: 0;
    }
}


.sidebarSearch {
    width: 360px;
    background-color: white;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease;
    z-index: 2000;
}
@media screen and (max-width: 768px) {
    .sidebarSearch {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebarSearch ul li {
        display: inline-block;
    }
    .content {
        margin-left: 0;
    }
}
.sidebarSearch ul {
    margin-top: 50px;
    list-style-type: none;
    padding: 0;
}
.sidebarSearch ul li {
    border-bottom: 1px solid #000; /* 添加下邊框作為橫隔線 */
    color: rgb(0, 0, 0);
    padding: 15px 0;
    text-align: center;
}

.sidebarSearch ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
}

.sidebarSearch ul li a:hover {
    background-color: #575757;
}

.sidebarSearch ul li:last-child {
    border-bottom: none; /* 移除最後一個項目的下邊框 */
}